body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    padding: 20px;
    margin: auto;
}
header {
    background: #ebebeb;
    padding: 10px;
}
nav {
    color: black;
    background: orange;
    text-align: left;
    padding: 5px;
}
article {
    color: #ebebeb;
    background: maroon;
    padding: 20px;

}
h1 p {
    color: #777;
    background: #ebebeb;
}
section {
    width: 595px;
}
aside {
    color: white;
    background: blue;
    float: right;
    width: 350px
    
}
h1 {
    text-align: center;
    color: maroon;
    font-style: italic;

}
footer {
    color: black;
    background: orange;
    padding: 20px;
}
#as {padding: 20px}